appdirs==1.4.4
asgiref==3.8.1
atomicwrites==1.4.0
backoff==2.2.1
bcrypt==4.2.0
build==1.2.2
chroma-hnswlib==0.7.6
chromadb==0.5.11
coloredlogs==15.0.1
dataclasses-json==0.6.7
Deprecated==1.2.14
durationpy==0.9
fastapi==0.115.0
flatbuffers==24.3.25
google-auth==2.35.0
googleapis-common-protos==1.65.0
groq==0.11.0
grpcio==1.66.2
h11==0.14.0
httpcore==1.0.6
httptools==0.6.1
httpx==0.27.2
huggingface-hub==0.25.1
humanfriendly==10.0
importlib_resources==6.4.5
jsonpointer==2.1
kubernetes==31.0.0
langchain==0.3.2
langchain-community==0.3.1
langchain-core==0.3.9
langchain-groq==0.2.0
langchain-text-splitters==0.3.0
langsmith==0.1.131
marshmallow==3.22.0
mkl-service==2.4.0
mmh3==5.0.1
monotonic==1.6
oauthlib==3.2.2
onnxruntime==1.19.2
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
orjson==3.10.7
posthog==3.7.0
protobuf==3.20.3
pycurl==7.45.2
pydantic==2.9.2
pydantic-settings==2.5.2
pydantic_core==2.23.4
pyls-spyder==0.4.0
PyPika==0.48.9
pyproject_hooks==1.2.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pyreadline3==3.5.4
pywin32==305.1
requests-oauthlib==2.0.0
rsa==4.9
setuptools==69.5.1
shellingham==1.5.4
starlette==0.38.6
tenacity==8.5.0
tokenizers==0.20.0
typer==0.12.5
typing-inspect==0.9.0
uvicorn==0.31.0
watchfiles==0.24.0
websockets==13.1
wheel==0.43.0
